h3 span{
    color: orange;
    font-size: 30px;
}
.main{
    display: flex;
}


.text{width: 40%;
    text-justify: auto;
    padding-right: 0px 40px;

}
.text a{
    background-color: orange;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.image img{width: 70%;

}
.maincontent{
 
    display: flex;

   
    
    
}
.content{
    width: 40%;
    padding: 60px;
    border-radius: 10px ;
    border-left: 20px;
    box-shadow: 5px 7px 40px gray;
    border-left: 10px solid orange;
    margin-right: 5%;

   
}
.sidebar{
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 7px 40px gray;
    border-left: 10px solid rgb(47, 0, 255);
    margin-left: 5%;
    margin-right: 5%;

    

    
}
.footer{text-align: center;}